// Add review
.add-review-tile {
  padding: $space;
  border: $border;
  background: darken($light, 5%);
  border-radius: $border-radius;
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;

  &:hover {
    background: $blue;
    color: $light;
    cursor: pointer;
  }
}