.review-text {
  @extend .type-lg;
  
  &:before {
    content: '\201C';
  }
  &:after {
    content: '\201D';
  }
}

.review-title {
  &:hover { 
    color: $blue; 
    cursor: pointer;
  }
}
.review-rating {
  border-top: 1px solid #eee;
  padding-top: 10px;

}