.review-grid {
  display: flex;
  flex-flow: column;

  @media ($tablet-up) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.review-tile {
  padding: $space;
  border: $border;

  @media ($tablet-up) {
    // TODO: use flex to make this less weird
    flex-basis: 47%;
    margin-right: 5px;
    margin-left: 5px;
  }

  @media ($desktop-up) {
    flex-basis:31%;
    &:nth-of-type(3n+2) {
      margin-right: $space;
      margin-left: $space;
    }
  }
}

.review-tile {
  border-radius: $border-radius;
  background: #ffffff;
  text-align: center;
}

.review-rating {
  @extend .type-lg;
}


// Add review
.add-review-tile {
  padding: $space;
  border: $border;
  background: darken($light, 5%);
  border-radius: $border-radius;
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;

  &:hover {
    background: $blue;
    color: $light;
    cursor: pointer;
  }
}

.add-review_icon {
  font-size: 100px;
  font-weight: bold;
}
.add-review_cta {
  font-size: 35px;
  text-transform: uppercase;
}